//PALETA DE COLORES
$custom-black: #222831;
$custom-grey: #EFECEC;
$custom-mint: #43A680;
$custom-orange: #FC6736;

//TAMAÑO FUENTES
$fs1: 32px;
$fs2: 28px;
$fs3: 24px;
$fs4: 20px;
$fs5: 18px;
$fs6: 16px;

//SPACING
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;